* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

:root {
  --primary: #ce2929;
  --black: #000000;
  --blackLighter: #9E9E9E;
  --grayLight: #F5F5F5;
  --grayMedium: #e5e5e5; 
  --white: #FFFFFF;
  --frontEnd:#1b5ea9;
  --backEnd: #dd5f28;
}

html,
body {
  margin: 0;
  padding: 0;
  background-color: #141414;
}

a {
  color: inherit;
}

::-webkit-scrollbar {
  display: none;
}

#root {
  min-height: calc(100vh - var(--bodyPaddingTop));
  display: flex;
  flex-direction: column;
}